* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:rgb(56, 61, 74);
}
.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin-bottom: 50px;
    margin-top: 50px;
}    
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 850px;
    background: rgb(78, 92, 123);
    border-radius: 10px;
    position: relative;
}
.image {
    margin-top: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 30px;
    margin-bottom: auto;
    font-size: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app > .screen {
    display: none;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 850px;
    border-radius: 20px;
    background: rgb(78, 92, 123);
    position: absolute;
}
.app > .screen.active {
    display: flex;
}

.chat-screen.active {
    height: 650px; /* Increase height by 150px */
}

.screen .form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 320px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.login {
    margin-top: 25px;
    font-size: 38px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.screen .form-input {
    margin-top: 30px;
    position: relative;
    margin-bottom: 10px;
    width: 80%;   
}
.username {
    border: 1.5px solid white;
    border-radius: 10px;
    outline: none;
}
input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1.5px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}
input[type="text"]::placeholder {
    color: white; 
}
ion-icon {
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
}
.screen .form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
}
.screen .form-input button {
    cursor: pointer;
    margin-top: -10px;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid white;
    background: linear-gradient(rgb(56, 61, 74), rgb(78, 92, 123), rgb(56, 61, 74));
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    color: white;
    font-size: 17px;
}
.l1 {
    display: flex;
    justify-content: center;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Adjust to fit container */
    width: 100%;
    box-shadow: 0 0 20px white;
    background: url('bg.jpg') no-repeat center center fixed;
    border-radius: 20px;
}
.chat-screen .header {
    background: rgb(78, 92, 123);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top-right-radius : 20px;
    border-top-left-radius: 20px;
}

.chat-screen .header .logo {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.chat-screen .header .button {
    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;
    border-radius: 5px;
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    height: 40px;
}

.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background-size: contain; /* Ensure the image is fully visible within the container */
    overflow: auto;
}

.chat-screen .messages .message {
    display: flex;
    padding: 10px;
}

.chat-screen .messages .message > div {
    max-width: 80%;
    background: rgb(78, 92, 123);
    color: white;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
}

.chat-screen .messages .message.my-message {
    justify-content: flex-end;
}

.chat-screen .messages .message.other-message {
    justify-content: flex-start;
}

.chat-screen .messages .message .name {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
}
.chat-screen .messages .message > div {
    max-width: 80%;
    background: rgb(78, 92, 123);
    color: white;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 10px;
}

.chat-screen .messages .message.my-message {
    justify-content: flex-end;
}

.chat-screen .messages .message.other-message {
    justify-content: flex-start;
}

.chat-screen .messages .message .name {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
}

.chat-screen .messages .message .text {
    word-wrap: break-word;
}

.chat-screen .messages .update {
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-weight: 600;
    background: rgb(78, 92, 123, 0.88);
    font-size: 15px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.chat-screen .typebox {
    width: 935px;
    height: 50px;
    display: flex;
    /* margin-bottom: 5px; */
    margin-right: 5px;
    /* margin-left: 5px; */
}

.chat-screen .typebox input {
    flex: 1;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
    background: rgb(78, 92, 123);
    color: white;
    border: none;
}

.chat-screen .typebox button {
    width: 80px;
    height: 90%;
    margin-top: 2px;
    background: rgb(78, 92, 123);
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;

    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;

    left: 85%;
    top: 50%;
    transform: translateX(-103%);

    outline: none;
}
